{#
Add your footer in this file.

You will need to add custom CSS to make this work, for example, the following
should work for a bottom-aligned footer in all browsers that properly support
flex:

body {
     padding-bottom: 0; /* no bottom padding, footer should be bottom aligned */
     padding-top: 60px;/* now is redefine in JS to fit any title length */
     flex-direction: column; /* article, then footer */
     display: flex; /* flex, to extend the content to full size */
     min-height: 100vh; /* full height, to bottom-align footer */
}
body > article {
    flex: 1; /* the main article should use as much space as possible */
}

#}
<div id="datapolicy">
    <div class="container">
        <div class="row text-center datapolicy-links">
            {% if aSurveyInfo.oSurvey.showdatapolicybutton == 1 %}
                <a data-toggle="modal" data-target="#datapolicy-modal">
                    {{ gT('Data policy') }}
                </a>
            {% endif %}
            {% if aSurveyInfo.oSurvey.showdatapolicybutton == 1 and aSurveyInfo.oSurvey.showlegalnoticebutton == 1%}
                <span>|</span>
            {% endif %}
            {% if aSurveyInfo.oSurvey.showlegalnoticebutton == 1 %}
                <a data-toggle="modal" data-target="#legalnotice-modal">
                    {{ gT('Legal notice') }}
                </a>
            {% endif %}
        </div>
    </div>

    <!-- Data policy Modal -->
    <div class="modal fade" id="datapolicy-modal" tabindex="-1" role="dialog" aria-labelledby="{{ gT('Data policy') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="datapolicy-label">{{ gT('Data policy') }}</h4>
                </div>
                <div class="modal-body">
                    {{ aSurveyInfo.surveyls_policy_notice }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Legal notice Modal -->
    <div class="modal fade" id="legalnotice-modal" tabindex="-1" role="dialog"
         aria-labelledby="{{ gT('Legal notice') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="legalnotice-label">{{ gT('Legal notice') }}</h4>
                </div>
                <div class="modal-body">
                    {{ aSurveyInfo.surveyls_legal_notice }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
